<footer>
    <div class="massar-section sub-section">
        <div class="massar-logo"></div>
        <div class="insperational-text">
            Massar is here to walk students through their journey of figuring out their future careers.
        </div>
    </div>

    <div class="get-in-touch sub-section">
        <div class="title">Get in Touch</div>
        <div class="contact">
            <div class="contact-logo"></div>
            <div class="contact-text">Ourstudio@hello.com</div>
        </div>
    </div>
    <div class="services sub-section">
        <div class="title">Service</div>
        <div class="pages-list">
            <div class="page-name">Internships</div>
            <div class="page-name">Community</div>
            <div class="page-name">CV</div>
            <div class="page-name">Search</div>
        </div>
        
    </div>
    <div class="company sub-section">
        <div class="title">Company</div>
        <div class="pages-list">
            <div class="page-name">Service</div>
            <div class="page-name">About us</div>
            <div class="page-name">Our Team</div>
            <div class="page-name">Contact Us</div>
            <div class="page-name">FAQ</div>
        </div>
        
    </div>
    <div class="social-media sub-section">
        <div class="icons">
            <div class="insta footer-icon"></div>
            <div class="tiktok footer-icon"></div>
            <div class="linkedin footer-icon"></div>
        </div>

        <div class="insperational-text">
            Lorem ipsum dolor sit amet,
            consec tetur adipiscing elit,
            sed do eiusmod.
        </div>
    </div>
</footer>
