<div class="section-title">
    The team
    <div class="title-line"></div>
</div>

<!--<div class="team-list">
    <div class="team-member">
        <div class="member-image"></div>
        <div class="member-name">Name and last name</div>
        <div class="member-role">Role in Massar</div>
    </div>

    <div class="team-member">
        <div class="member-image"></div>
        <div class="member-name">Name and last name</div>
        <div class="member-role">Role in Massar</div>
    </div>

    <div class="team-member">
        <div class="member-image"></div>
        <div class="member-name">Name and last name</div>
        <div class="member-role">Role in Massar</div>
    </div>

    <div class="team-member">
        <div class="member-image"></div>
        <div class="member-name">Name and last name</div>
        <div class="member-role">Role in Massar</div>
    </div>

    <div class="team-member">
        <div class="member-image"></div>
        <div class="member-name">Name and last name</div>
        <div class="member-role">Role in Massar</div>
    </div>

    <div class="team-member">
        <div class="member-image"></div>
        <div class="member-name">Name and last name</div>
        <div class="member-role">Role in Massar</div>
    </div>
</div>-->

<section id="team" class="team-section">
    <div class="members-container">
        <div class="card" style="position: static;">
            <div class="card-top">
                <div class="image-container">
                    <img src="../../../assets/imgs/img-4.jpg" alt="IMAGE"></div>
                    <div class="text-container">
                        <h1>Mohamed Nadjib Bentayeb </h1>
                        <h4>Web Developer </h4>
                    </div>
                </div>
                <hr style="margin: 0;">
                <div class="card-bottom">
                    <div class="single-contact">
                        <div class="span">email</div>
                            : mohamed.bentayeb@ensia.edu.dz
                        </div>
                    </div>
            </div>

            <div class="card" style="position: static;">
                <div class="card-top">
                    <div class="image-container">
                        <img src="../../../assets/imgs/img-1.jpg" alt="IMAGE"></div>
                        <div class="text-container">
                            <h1>Oumaima Maatar</h1>
                            <h4>Web Developer</h4>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="card-bottom">
                        <div class="single-contact">
                            <div class="span">email</div>
                            : oumaima.maatar@ensia.edu.dz
                        </div>
                    </div>
            </div>

            <div class="card" style="position: static;">
                <div class="card-top">
                    <div class="image-container">
                        <img src="../../../assets/imgs/img-5.jpg" alt="IMAGE"></div>
                        <div class="text-container">
                            <h1>Lina Nadjeh Labar</h1>
                            <h4>Web Developer </h4>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="card-bottom">
                        <div class="single-contact">
                            <div class="span">email</div>
                            : lina.labar@ensia.edu.dz
                        </div>
                    </div>
            </div>

            <div class="card" style="position: static;">
                <div class="card-top">
                    <div class="image-container">
                        <img src="../../../assets/imgs/img-6.jpg" alt="IMAGE"></div>
                        <div class="text-container">
                            <h1>Basmala Meitah </h1>
                            <h4>Web Developer </h4>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="card-bottom">
                        <div class="single-contact">
                            <div class="span">email</div>
                            : basmala.meitah@ensia.edu.dz
                        </div>
                    </div>
            </div>

            <div class="card" style="position: static;">
                <div class="card-top">
                    <div class="image-container">
                        <img src="../../../assets/imgs/img-4.jpg" alt="IMAGE"></div>
                        <div class="text-container">
                            <h1>Mohamed Nadjib Bentayeb </h1>
                            <h4>Web Developer </h4>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="card-bottom">
                        <div class="single-contact">
                            <div class="span">email</div>
                                : mohamed.bentayeb@ensia.edu.dz
                            </div>
                        </div>
                </div>

                <div class="card" style="position: static;">
                    <div class="card-top">
                        <div class="image-container">
                            <img src="../../../assets/imgs/img-1.jpg" alt="IMAGE"></div>
                            <div class="text-container">
                                <h1>Oumaima Maatar</h1>
                                <h4>Web Developer</h4>
                            </div>
                        </div>
                        <hr style="margin: 0;">
                        <div class="card-bottom">
                            <div class="single-contact">
                                <div class="span">email</div>
                                : oumaima.maatar@ensia.edu.dz
                            </div>
                        </div>
                </div>
    </div>

</section>
