<div class="welcome" id="second-section">
    <div class="welcoming-title">Welcome to Massar</div>
    <div class="welcoming-explanation">Explore opportunities and discover your potential</div>
</div>

<div class="section-title">
    Why Massar
    <div class="title-line"></div>
</div>
<div class="comments-slider">
    <div class="go-left"></div>
    <div class="comments-list" #commentsList>
        <div class="comment">
            <div class="comment-header">
                <div class="profile-pic"></div>
                <div class="profile-text">
                    <div class="profile-name">Someone someone</div>
                    <div class="profile-role">Their role</div>
                </div>
                
            </div>

            <div class="comment-body">
                <div class="comment-start"></div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris,
                 nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis.fi khater najib
                 <div class="comment-end"></div>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
                <div class="profile-pic"></div>
                <div class="profile-text">
                    <div class="profile-name">Someone someone</div>
                    <div class="profile-role">Their role</div>
                </div>
                
            </div>

            <div class="comment-body">
                <div class="comment-start"></div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris,
                 nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis.fi khater najib
                 <div class="comment-end"></div>
            </div>
        </div>

        <div class="comment-highlighted">
            <div class="comment-header">
                <div class="profile-pic"></div>
                <div class="profile-text">
                    <div class="profile-name">Someone someone</div>
                    <div class="profile-role">Their role</div>
                </div>
                
            </div>

            <div class="comment-body">
                <div class="comment-start"></div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris,
                 nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis.fi khater najib
                 <div class="comment-end"></div>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
                <div class="profile-pic"></div>
                <div class="profile-text">
                    <div class="profile-name">Someone someone</div>
                    <div class="profile-role">Their role</div>
                </div>
                
            </div>

            <div class="comment-body">
                <div class="comment-start"></div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris,
                 nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis.fi khater najib
                 <div class="comment-end"></div>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
                <div class="profile-pic"></div>
                <div class="profile-text">
                    <div class="profile-name">Someone someone</div>
                    <div class="profile-role">Their role</div>
                </div>
                
            </div>

            <div class="comment-body">
                <div class="comment-start"></div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris,
                 nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis.fi khater najib
                 <div class="comment-end"></div>
            </div>
        </div>
    </div>
    <div class="go-right"></div>
</div>
