.small-circle,
.big-circle{
    position: fixed;
    z-index: -1;
}

.small-circle{
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 100vh;
    min-height: 600px;
    transform: translateX(calc(50% + 105px));
    aspect-ratio: 1;
}

.big-circle{
    z-index: -2;
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 120vh;
    min-height: 720px;
    transform: translate(calc(50% + 105px), -50%);
    aspect-ratio: 1;
    top: 50%;
}

.not-chosen{
    opacity: 50%;
}

.auth-picture-fixed,
.auth-picture{
    width: 45.36%;
    min-width: 500px;
    max-width: 762px;
    aspect-ratio: 116/107;
    background-image: url('../../assets/imgs/auth-main-pic.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 8%;
}

.auth-picture-fixed{
    position: fixed;
}

.auth-picture{
    visibility: hidden;
}

.user-form-hanger{
    flex-direction: column;
    width: min(435px, 90%);
    align-items: center;
    gap: 41px;
    min-height: 100vh;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.header{
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.form-title{
    width: 100%;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.form-title-explanation{
    width: 100%;
    justify-content: center;
    font-size: 18px;
    color: #6E6C6C;
}

.form-group{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.form-inputs,
.inputs-list-holder{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 23px;
    overflow: visible;
}

.inputs-list-holder{
    justify-content: center;
}

.input-list{
    width: 71%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 23px;
    overflow: visible;
}

.inputs-list-button{
    position: relative;
    cursor: pointer;
}

.input-block{
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    overflow: visible;
}

.user-type-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px 0;
}

.type{
    position: relative;
    overflow: hidden;
    width: calc(50% - 12px);
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    background-color: #D9D9D9;
    color: #676565;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

input,
select,
label,
.inputs-list-button{
    width: 100%;
    padding: 20px 20px 20px 76px;
    background-color: #d9d9d9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    font-size: 18px;
}

label{
    cursor: pointer;
}

select {
    appearance: none;
}

input[type='file']{
    display: none;
}

.input-block-sm{
    position: relative;
    width: calc(50% - 12px);
    flex-direction: column;
    gap: 10px;
    overflow: visible;
}

.input-block-sm input{
    padding-left: 60px;
}

.entries-list{
    flex-wrap: wrap;
    width: 100%;
    padding: 2px 10px;
    gap: 7px;
}

.entry{
    position: relative;
    max-height: 42px;
    align-items: center;
    background-color: #d9d9d9;
    color: #676565;
    font-size: 17px;
    padding: 0.5em 0.7em;
    border-radius: 20px;
    gap: 5px;
    overflow: hidden;
}

.entry-text{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    max-height: 30px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    
}

.overflowing{
    transition: transform 3s linear;
}

.overflowing:hover{
    transform: translateX(-100%);
    
}

.move-left {
    animation: moveLeft 5s linear infinite;
}

@keyframes moveLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% + 100% - 100%)); /* Move by the width of the text */
    }
  }

input::placeholder,
.placeholder{
    color: #676565; /* Replace with your desired color */
}

.input-error{
    color: red;
    font-size: 11px;
    font-weight: 580;
    flex-direction: column;
}

.form-buttons{
    width: 100%;
    justify-content: space-around;
}

.back-btn,
.login-btn,
.save-btn{
    width: 195px;
    background-color: var(--primary-color);
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 0px;
    transition: transform 0.3s;
}

.back-btn{
    background-color: #D9D9D9;
    color: #676565;
}

.save-btn{
    width: auto;
    padding: 0.3em 1.5em;
    border-radius: 15px;
}

.other-options{
    width: 100%;
    flex-direction: column;
    gap: 41px;
}

.dividor{
    position: relative;
    width: 100%;
    border-top: solid 1px #757171;
}

.dividor-title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #757171;
    font-size: 12px;
    padding: 15px;
}

.no-accounts{
    width: 100%;
    justify-content: center;
    font-weight: 600;
}

a{
    color: #4A3594;
}

@media screen and (max-width: 1051px){
    .auth-picture,
    .auth-picture-fixed,
    .big-circle{
        display: none;
    }
}

@media screen and (max-width: 450px){
    .back-btn,
    .login-btn{
        width: 43.12%;
        min-width: 115px;
        font-size: 20px;
    }
}

.no-padding{
    padding: 0;
}