<div class="colorful-background"></div>
<div class="hero-text">
    <p class="hero-title">Get your career <strong class="hero-title" style="color: var(--primary-color);">started</strong></p>
    <div class="hero-explanation">some text hna li maalabalich what it’ gonna be yet mais it has to be long w mena hehe.</div>
    <button class="hero-btn" (click)="gf.scaleEffect($event)" [routerLink]="'/signup'">Apply now</button>
</div>

<div class="hero-image">
    <div class="productivity-image"></div>
</div>

<div class="go-down"></div>
