<div class="section-title">
    Building careers
    <div class="title-line"></div>
</div>

<div class="website-info-list">
    <div class="website-info">
        <div class="decorated-number">
            <div class="number" data-text="23">23</div>
            <div class="small-circle"></div>
        </div>
    
        <div class="information">
            <div class="information-number">2300</div>
            <div class="information-text">Users</div>
        </div>
    </div>
    
    <div class="website-info">
        <div class="decorated-number">
            <div class="number" data-text="08">08</div>
            <div class="small-circle"></div>
        </div>
    
        <div class="information">
            <div class="information-number">80</div>
            <div class="information-text">Enterprises</div>
        </div>
    </div>
    
    <div class="website-info">
        <div class="decorated-number">
            <div class="number" data-text="11">11</div>
            <div class="small-circle"></div>
        </div>
    
        <div class="information">
            <div class="information-number">110</div>
            <div class="information-text">Opertunities</div>
        </div>
    </div>
    
    <div class="website-info">
        <div class="decorated-number">
            <div class="number" data-text="50">50</div>
            <div class="small-circle"></div>
        </div>
    
        <div class="information">
            <div class="information-number">500</div>
            <div class="information-text">Careers</div>
        </div>
    </div>
</div>